  <mat-toolbar color="primary">
    <span>Key information</span>
  </mat-toolbar>
  <ng-container *ngIf="stock && !isLoading">
    <mat-card color="primary">
      <mat-card-title>
        <h2>{{stock.name}}({{stock.symbol}})</h2>
        <hr>
      </mat-card-title>
      <mat-card-content>
        <p>Price Per Share: ${{stock.price}}</p>
        <p>{{stock.sector}} ({{stock.industry}})</p>
        <p>Rated as {{stock.recommendation }}</p>
        <a href="{{stock.website}}">{{stock.website}}</a>
        <p>{{stock.description}}</p>
      </mat-card-content>
      <mat-card-footer>
        <button (click)="addToPortfolio()" mat-button>Add to portfolio</button>
      </mat-card-footer>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <og-spinner
      [theme]="'dark'"
      >
    </og-spinner>
  </ng-container>