<div class="content-container">
  <div class="header">
    <h2>Key performance information</h2>
    <hr>
  </div>
  <ng-container *ngIf="stock && !isLoading">
    <div class="stock-card">
      <div class="stock-header">
        <h2>{{stock.name}}({{stock.symbol}})</h2>
        <div (click)="addToPortfolio()" class="btn primary">Add to portfolio</div>
      </div>
      <p>Price Per Share: ${{stock.price}}</p>
      <p>{{stock.sector}} ({{stock.industry}})</p>
      <p>Rated as {{stock.recommendation }}</p>
      <a href="{{stock.website}}">{{stock.website}}</a>
      <p>{{stock.description}}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="isLoading">
    <og-spinner
      [theme]="'dark'"
      >
    </og-spinner>
  </ng-container>
</div>