<div class="row">
  <div class="col-sm-12 col-md-6">
    <stock-display
    [stock]="stock"    
    [isLoading]="isLoading$ | async"
    >
    </stock-display
    >
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="content-container">
      <div class="header">
        <h2>Pick your stocks</h2>
        <hr />
      </div>
      <div class="btn-container">
        <div
          *ngFor="let searchTerm of searchTerms$ | async"
          (click)="selectSearchTerm(searchTerm)"
          class="btn"
        >
          {{ searchTerm.name }}
        </div>
      </div>
      <portfolio-display> </portfolio-display>
    </div>
  </div>
</div>
