<mat-toolbar>
  <p>Snapshot</p>
</mat-toolbar>
<mat-card>
  <p>Filter by:</p>
  <button (click)="onSelectFilterButtonClicked(filter, 'progressBar')" *ngFor="let filter of progressBarFilters$ | async" class="btn" [class.selected]="filter === (progressBarSelectedFilter | async)" mat-button>
    {{filter | uppercase}}
  </button>
  <table class="datatable">
    <tr>
      <td><strong>Stock</strong></td>
      <td><strong>Performance compared to highest</strong></td>
    </tr>
    <tr *ngFor="let stock of stockValues$ | async">
      <td>{{stock.name}}</td>
      <td>
        <progress-bar
        [valueToAchieve]="maxValue$ | async"
        [currentValue]="stock.value"
        ></progress-bar>
      </td>
    </tr>
  </table>
</mat-card>
<mat-toolbar>
  <p>Historical performance</p>
</mat-toolbar>
<mat-card>
  <p>Filter by:</p>
  <button (click)="onSelectFilterButtonClicked(filter, 'lineChart')" *ngFor="let filter of lineChartFilters$ | async" class="btn" [class.selected]="filter === (lineChartSelectedFilter | async)" mat-button>
    {{filter | uppercase}}
  </button>
  <line-chart
    [lineChartData]="lineChartData$ | async"
    [lineChartLabels]="lineChartLabels$ | async"
  >
  </line-chart
  >
</mat-card>
