<mat-toolbar>
  <p>Snapshot</p>
</mat-toolbar>
<mat-card>
  <p>Filter by:</p>
  <button (click)="onSelectFilterButtonClicked(filter)" *ngFor="let filter of filters$ | async" class="btn" [class.selected]="filter === (selectedFilter | async)" mat-button>
    {{filter}}
  </button>
  <table class="datatable">
    <tr>
      <td><strong>Stock</strong></td>
      <td><strong>Performance compared to highest</strong></td>
    </tr>
    <tr *ngFor="let stock of stockValues$ | async">
      <td>{{stock.name}}</td>
      <td>
        <progress-bar
        [valueToAchieve]="maxValue$ | async"
        [currentValue]="stock.value"
        ></progress-bar>
      </td>
    </tr>
  </table>
</mat-card>
<mat-toolbar>
  <p>Historical performance</p>
</mat-toolbar>
<line-chart>
</line-chart>
