<mat-toolbar>
  <p>Snapshot</p>
</mat-toolbar>
<p>{{selectedFilter | async}}</p>
<button (click)="onSelectFilterButtonClicked(filter)" *ngFor="let filter of filters$ | async" [style.color]="'white'" (click)="setOption(option)" [ngClass]="selectedOption == option ? 'active' : 'secondary'" mat-button>
  {{filter}}
</button>
<table class="data_table">
  <tr *ngFor="let stock of portfolio$ | async">
    <td>{{stock.name}}</td>
    <td>
      <progress-bar
      [valueToAchieve]="maxValue"
      [currentValue]="stock.value"
      ></progress-bar>
    </td>
  </tr>
</table>
<mat-toolbar>
  <p>Historical performance</p>
</mat-toolbar>
<line-chart>
</line-chart>
