<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="content-container">
      <div class="header">
        <h2>Snapshot</h2>
        <hr>
      </div>
      <div class="btn-container">
        <div *ngFor="let option of options" class="btn" (click)="setOption(option)" [ngClass]="selectedOption == option ? 'active' : 'secondary'">
          {{option.english}}
        </div>
      </div>
      <table class="data_table">
        <tr *ngFor="let stock of filteredStocks">
          <td>{{stock.name}}</td>
          <td>
            <progress-bar
            [valueToAchieve]="maxValue"
            [currentValue]="stock.value"
            ></progress-bar>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="content-container">
      <div class="header">
        <h2>Historical performance</h2>
        <hr>
      </div>
      <line-chart>
      </line-chart>
    </div>
  </div>
</div>