<div class="row">

  <div class="col-sm-12 col-md-6">
    <div class="content-container">
      <div class="header">
        <h2>Pick your stocks </h2>
        <hr>
      </div>
      <div class="stock-btn-container">
        <div *ngFor="let symbol of symbols" (click)="getStock(symbol.symbol)" class="stock-btn">
          {{symbol.name}}
        </div>
      </div>
      <div class="search-container">
        <input class="form-control" aria-label="Search" [(ngModel)]="searchTerm" placeholder="search for a stock e.g. APPL"/>
        <button (click)="getStock(searchTerm)" class="btn btn-info">search</button>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="content-container">
      <div class="header">
        <h2>Key performance information</h2>
        <hr>
      </div>
      <ngx-spinner></ngx-spinner>
      <ng-container *ngIf="stock">
        <stock-display
          [stock]="stock"
        >
        </stock-display>
      </ng-container>
    </div>
  </div>
</div>