/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

hr {
  border: 1px solid #e6e6e6;
  margin: 0 16;
}


body {
  font-family: 'Nunito';
  background-size: cover;
  display: flex;
  justify-content: center;
  margin: auto auto;
  background-color: #e6e6e6;
  line-height: 24px;
}

h1, h2, h3 {
  margin: 4px 4px;
}

.page-container {
  height: 100vh;
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #424242;
}


.btn {
  background-color: rgb(172, 169, 169);
  color: black;
  border-radius: 0px !important;
  margin: 8px 4px !important;
}

.btn:hover {
  background-color: rgb(214, 213, 213);
}

.btn.selected {
  background-color: rgb(248, 248, 248);
}

.example-form {
  margin-left: 16px;
  width: 50%
}
.datatable {
  width: 100%;
  color: white;
}

tr, td {
  padding: 12px;
}

tr {
  text-align: center;
}

.chartjs-size-monitor {
  color: white;
}
// media queries

@media only screen and (max-width: 600px) {
  .page-container {
    width: 100%;
  }
}